rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir acesso aos documentos de usuários
    match /usuarios/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Permitir acesso aos documentos de seguidores
    match /followers/{followId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    
    // Permitir acesso aos documentos de seguindo
    match /following/{followId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    
    // Permitir acesso aos posts
    match /posts/{postId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Permitir acesso aos likes
    match /likes/{likeId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Permitir acesso aos comentários
    match /comments/{commentId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
} 